/* Added border on the sides of the body */
body {
 border-left: 4px solid black;
 border-right: 4px solid black;
}

/* Border around header */
header {
    border: 4px solid black;
}

/* Put my name and picture on same line horizontally */
.heading {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    background-color: black;
}

/* Places the picture of me to the left of my name */
header img {
    max-width: 72px;
    position: absolute;
    left: 120px;
    top: 11px;
    border: 4px solid black;
}

/* Placement and color of my name in the heading */
.heading h2 {
    top: 10px;
    font-size: 30px;
    color: black;
    border: 4px solid black;
    padding: 20px;
    background-color: #ffffea;
}

/* A navigation bar underneath the heading to link to different part of the page */
.nav-bar {
    text-align: right;
    border: 2px solid black;
    background-color: black;
}

/* Displays the nav bar horizonatlly instead of vertically and removes the bullet points from the list items */
header li {
    display: inline;
    list-style: none;
    padding-right: 45px;
}

/* Removes the default link decoration */
li a {
    color:white;
    text-decoration: none;
    font-size: 18px;
}

/* Underlines the links when user hovers over them */
li a:hover {
    text-decoration: underline;
}

/* Changes the font size of all <p> tags */
p {
    font-size: 24px;
}

/* CSS of h2 tags */
h2 {
    text-align: center;
    font-size: 30px;
    color: black;
}

/* Switched the orientation of the about tag from vertical to horizontal */
.about {
    display: flex;
    border-bottom: 4px solid black;
    background-color: #ffffea;
}

/* padding for the div tag inside of about */
.about div {
    padding: 35px;
}

/* Shaping the paragraph in the about section of the page */
.about p {
    border-left: 4px solid black;
    padding-left: 10px;
}

/* I want the contents of myWork to be horizontal and centered */
.myWork {
    display: flex;
    align-items: center;
    padding: 4px;
    background-color: #ffffea;
}

/* Make myWork title take up 20% of the screen */
.myWork h2 {
    width: 20%;
    padding-right: 10px;
    padding-left: 10px;
}

/* I realized I Could have kept this section of the page displayed with flex but I 
wanted to practice grid and try it out. I want the grid to take up the rest of the width of the page so 80%.
I also wanted to make sure that there is enough spacing for the placeholders */
/* .gridLayout {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(auto-fill,minmax(350px, 1fr));
    grid-template-rows:max-content;
    margin: 2%;
    font-size: 20px;
    column-gap: 55px;
    row-gap: 20px;
    border-left: 4px solid black;
    overflow: scroll;
    min-height: 700px;
    padding-left: 70px;
} */

/* Made the portfolio section take up 80% of the width and wrap */
.folio {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    border-left: 4px solid black;
    padding-left: 10px;
    justify-content: center;
}

/* Titles to the portfolios */
.folio h3 {
    width: 20%;
    position: relative;
    top: 65px;
    left: 11px;
    border: 4px solid black;
    padding: 5px;
    width: fit-content;
    background-color:#ffffea;
}

.folio a {
    text-decoration: none;
    color: black;
}

/* the images for the portfolios */
.folio img {
    border: 4px solid black;
    margin: 20px;
}

/* the div tag for the main portfolio (Application 1) */
.bigBlock {
    width: 100%;
}

/* Image for the main portfolio (Application 1) */
.bigApp {
    width: 75%;
}


/* effects when hovering over the portfolio images */
.folio img:hover {
    min-width: 210px;
    box-shadow: 10px 10px 10px;
    margin: 10px;

}

/* color and border of the contact section */
.contact {
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    background-color:  black;
    color: #ffffea;
}

/* Contact title */
.contact h2 {
    text-decoration: underline;
    color: #ffffea;
}

/* Positioning of my contact information */
.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 40px;
    margin-top: -24px;
}

/* CSS for screen width under 654px */
@media screen and (max-width: 684px){

    /* Places my image to the right of my name */
    .heading img {
        position: relative;
        top: 0;
        left: 0;
    }

    /* Adjust portfolio images to screen width */
    .folio img {
        padding: 0;
    }

    /* Adjust for screen width. Removes the padding */
    .folio {
        padding-left: 0px;
    }

    /* Changes the sizes for the images below the main portfolio */
    .smApp {
        width: 150px;
    }
}
/* CSS for screen width under 460px */    
@media screen and (max-width: 460px){

    /* Switches the heading section from horizontal to vertical */
    .heading{
        display: block;
        text-align: center;
        margin-bottom: 0px;
        background-color: black;
    }

    /* There was a bit of space in between my picture and my name that I wanted to remove */
    .heading h2 {
        margin: -1px;
    }

    /* My picture cannot be larger than 100px */
    .heading img {
        max-width: 100px;
    }

    /* Centers and switches the nav bar to be vertical */
    .nav-bar li {
        display: flex;
        align-items: center;
        padding: 5px;
        justify-content: center;
        margin-left: -38px;
        border: 4px solid white;
        margin-bottom: 10px;
    }

    /* Adds an effect when hovering over the nav links */
    li:hover {
        text-decoration: underline;
        background-color: rgb(112, 109, 109);
    }

    /* Switches the about section to vertical */
    .about {
        display: block;
    }

    /* removes the previous border */
    .about p {
        border-left: 0;
    }

    /* adds CSS to the individual div tags */
    .about div {
        padding: 5px;
        border-bottom: 4px solid black;
    }

    /* Switches the myWork section to vertical */
    .myWork {
        display: block;
    }

    /* Centers the title to myWork */
    .myWork h2 {
        align-content: center;
        width: 100%;
    }

    /* Switches the grid to flex. I undid a bunch of the properties from the grid css above.
    I centered the placeholder images. */
    .folio {
        display: flex;
        border-left: 0;
        border-top: 4px solid black;
        padding-top: 20px;
        width: 100%;
        margin: 0;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 0px;
        overflow: auto;
    }

    /* Added spacing in between the images */
    .folio img {
        margin-top: 30px;
    }

    /* Makes more room for contact info */
    .info {
        padding-left: 20px;
        overflow-wrap: anywhere;
    }
}
@media screen and (max-width: 270px){
    /* Fixing the screen to size */
    .bigBlock {
        width: auto;
    }

    /* hiding the portfolio images */
    .folio img {
        display: none;
    }

    /* Displaying the portfolio titles */
    .folio h3 {
        top: 0;
        left: 0;
    }

    /* Adds an effect when hovering over the nav links */
    .folio h3:hover {
        text-decoration: underline;
        background-color: rgb(112, 109, 109);
    }
}